/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  .container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
  }
  
  .profile-picture {
    width: 150px;
    border-radius: 100%;
  }
  
  h1 {
    margin-bottom: 5px;
  }
  
  section {
    margin-top: 20px;
  }
  
  h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .container {
      width: 95%;
    }
  
    h1 {
      font-size: 1.5em;
    }
  
    .profile-picture {
      width: 100px;
    }
  }
  